{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 0,
    "semi": [1, "always"]
  }
}
